<header class='top-page-header'>
<div><%= link_to "SLIDESHOW", root_path, class:  "top"%></div>
<div class='nav'>
    <ul class='sign'>
      <% if user_signed_in? %>
        <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'LOGIN', new_user_session_path, class: "login" %></li>
      <% end %>
    </ul>
  </div>

</header>
<body>
  <% unless user_signed_in? %>
    <div>
      <div class= 'title'>
        <div class='main-title'>あなたもSLIDESHOWでSHOWを創りませんか？</div>
      </div>
    <div class= 'new'>
      <%= link_to '新規登録はこちら', new_user_registration_path, class: "sign-up"%>
    </div>
  <%else%>
    <div class = 'greeting'>
      <div class='hello'>HELLO!</div>
      <%= link_to current_user.nickname, "#", class:  "user-nickname"%>
    </div>

    <div class = 'introduction'>SLIDESHOWではこんなことができます</div>

    <div class='preview'>
      <div class='slider'>
        <div>
          <h2>SHOWを創ったり</h2>
          <%= image_tag 'home-image' ,class: "image", size:'600x600'%>
        </div>
        <div>
          <h2>SHOWを観返したり</h2>
          <%= image_tag 'sample' ,class: "image", size:'600x600'%>
        </div>
        <div>
          <h2>他の人のSHOWを観たり</h2>
          <%= image_tag 'sample2' ,class: "image", size:'600x600'%>
        </div>
        <div>
          <h3>コメントをすることもできます！</h3>
          <h3>SLIDESHOWはあなたを退屈させません</h3>
        </div>
        <ul class ='post'>
          <li class ='let'>Let's Create SHOW!</li>
          <li><%= link_to 'create', "#", class: "create" %></li>
        </ul>
      </div>
    </div>
  <%end%>
</body>