<%= form_with model: @slide, url: slides_path, local: true do |f| %>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css">
</head>
<header class='top-page-header'>
  <div><%= link_to "SLIDESHOW", root_path, class:  "top"%></div>
  <div class="reset-save">
      <div class="reset" id="reset_btn">Reset</div>
    <label>
      <div class="save">Save</div>
      <%= f.submit "Save", class: :form_btn%>
    </label>
  </div>
</header>

<body>
<div class="nil"></div>
  <%= f.text_area :title, class:"slide-title", placeholder:"Slide名（必須 20文字まで)", maxlength:"20" %>
  <section class="swiper-container loading">
    <div class="swiper-container">
      <div class="swiper-wrapper" id="set">
        <div class="swiper-slide" id="image_file">
          <label class="form-image" id="form_image">
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image'%>
            <div id="image-list"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_1" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_1'%>
            <div id="image-list_1"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_2" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_2'%>
            <div id="image-list_2"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_3" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_3'%>
            <div id="image-list_3"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_4" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_4'%>
            <div id="image-list_4"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_5" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_5'%>
            <div id="image-list_5"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_6" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_6'%>
            <div id="image-list_6"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_7" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_7'%>
            <div id="image-list_7"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_8" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_8'%>
            <div id="image-list_8"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label class="form-image" id="form_image_9" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image_9'%>
            <div id="image-list_9"></div>
          </label>
        </div>
      </div>
    </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
<% end %>


    <%# swiper %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
  <script>
    var mySwiper = new Swiper ('.swiper-container', {
    effect: 'coverflow',
    slidesPerView: 1.5,
    centeredSlides: true,
    loop: false,
    coverflowEffect: {
      slideShadows: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
  </script>
</body>