<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css">
</head>
<header class='top-page-header'>
<div><%= link_to "SLIDESHOW", root_path, class:  "top"%></div>
<div class='nav'>
  </div>
</header>

<body>
<%= form_with model: @slide, url: slides_path, local: true do |f| %>
<div class='nil'></div>
  <%= f.text_area :title, class:"slide-title", placeholder:"Slide名（必須 20文字まで)", maxlength:"20" %>
  <button id="btn">追加</button>
  <section class="swiper-container loading">
    <div class="swiper-container">
      <div class="swiper-wrapper" id="set">
        <div class="swiper-slide" id="image_file">
          <label id="form_image">
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden", id: 'message_image'%>
            <div id="image-list"></div>
          </label>
        </div>
        <div class="swiper-slide">
          <label id="form_image" >
            <span class="image-file">画像</span>
            <%= f.file_field "images", name: 'slide[images][]', type: :file, class: "hidden"%>
          </label>
        </div>
      </div>
    </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
  <div class="save-parent">
    <div class="save">
    <%= f.submit "Save", class: :form_btn%>
  </div>
<% end %>


    <%# swiper %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
  <script>
    var mySwiper = new Swiper ('.swiper-container', {
    effect: 'coverflow',
    slidesPerView: 1.5,
    centeredSlides: true,
    loop: false,
    coverflowEffect: {
      slideShadows: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
  </script>
</body>