<header class='top-page-header'>
<div><%= link_to "SLIDESHOW", root_path, class:  "top"%></div>
<div class='nav'>
  </div>
</header>

<body>
  <%= form_with model: @slide, local: true do |f| %>
    <%= f.text_area :title, class:"slide-title", placeholder:"Slide名（必須 20文字まで)", maxlength:"20" %>
  <% end %>
<button id="btn">追加</button>
<section class="swiper-container loading">
  <div class="swiper-container">
    <div class="swiper-wrapper" id="image_file">
      <div class="swiper-slide" id="set">
        <%= render partial: "image", locals: { slide: @slide }  %>
      </div>
      <div class="swiper-slide" id="set">
        <%= render partial: "image", locals: { slide: @slide }  %>
      </div>
    </div>
  </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
</body>