<header class='top-page-header'>
  <div><%= link_to "SLIDESHOW", root_path, class:  "top", id: "page_top"%></div>
      <div class="background-red" id="lists">menu<i class="fas fa-sort-up" id="menu_up"></i><i class="fas fa-sort-down" id="menu_down"></i></div>
      <ul class="show-lists hidden" id="pull-down">
        <li class="pull-down-list-1" id="pull_down_list_1"><%= link_to 'SHOWを観る', slide_image_path(@slide.id), method: :get, class: "slide-look"%></li>
        <li class="pull-down-list-2" id="pull_down_list_2"><div class="delete-btn" id="delete_btn">SHOWを消す</div></li>
        <% unless @slide.share.present?%>
          <li class="pull-down-list-3" id="pull_down_list_3"><%= link_to 'SHAREする', new_slide_share_path(@slide.id), class: "slide-share"%></li>
        <% end %>
      </ul>
</header>
<body>
<div class="nil"></div>
<div class="show-screen" id="show_screen">
  <div class='nil'></div>
  <div class='slide-creator'>Slide Creator</div>
  <div class='slide-creator-name'>
    <div class='slide-creator-wave'>〜</div>
    <%= @slide.user.nickname %>
    <div class='slide-creator-wave'>〜</div>
  </div>
  <div class='slide-top'>Slide's Top Image</div>
  <%= image_tag @slide.images[0], class: "slide-top-img" %>
  <div class='slide-middle'>Slide's Title</div>
  <div class='slide-middle-title'>
    <div class='slide-creator-wave'>〜</div>
    <%= @slide.title %>
    <div class='slide-creator-wave'>〜</div>
  </div>
  <%# <div class='flex'>
    <%= link_to 'SHOWを直す', edit_slide_path(@slide.id), method: :get, class: "slide-edit"%>
  <%# </div> %>
  <% if @slide.share.present?%>
    <div class='flex'>
      <div class="share-status">SHARE状況: 完</div>
    </div>
  <% else %>
    <div class='flex'>
      <div class="share-status">SHARE状況: 未</div>
    </div>
  <% end %>
</div>
  <%# 戻るボタン %>
  <div class="roll-back" >
    <%= link_to root_path, class: "roll-back-btn", id: "roll_back" do%>
      <div class="back" id="roll_back_btn">BACK
        <i class="fas fa-undo-alt"></i>
      </div>
    <% end %>
  </div>

<%# 削除 %>
  <div class="really" id="delete_screen">本当に削除してもよろしいですか？</div>
  <div class="slide-destroy" id="slide_destroy">
    <div class="cancel-btn" id="cancel_btn">Cancel</div>
    <%= link_to "Delete", slide_path(@slide.id), method: :delete, class:"slide-destroy-btn", id:"delete" %>
  <div>
</body>