<header class="top-page-header">
  <div><%= link_to "SLIDESHOW", slide_shares_path, class:  "top"%></div>
</header>
<body>
  <div class="nil"></div>
  <div class="room-name">
    <%= "#{@slide.title}'s Comment Room" %>
  </div>
  <ul class="comments-lists">
    <% @comments.each do |comment| %>
      <li class="comments-list">
        <%= comment.user.nickname %>
        <%= comment.comment_text%>
      </li>
    <% end %>
  </ul>
  <div class="create-comment">
    <%= link_to "Create Comment", new_slide_comment_path, class: "comment-btn"%>
  </div>
  <%# 戻るボタン %>
  <div class="roll-back">
    <%= link_to slide_shares_path, class: "roll-back-btn" do%>
      <div class="back">BACK
        <i class="fas fa-undo-alt"></i>
      </div>
    <% end %>
  </div>
</body>