<header class='top-page-header'>
<div><%= link_to "SLIDESHOW", root_path, class: "top", id: "page_top" %></div>
<% if user_signed_in? %>
  <div class='nav'>
    <ul class='sign'>
      <div class = 'greeting'>
        <div class='hello'>HELLO!</div>
        <%= link_to current_user.nickname, "#", class:  "user-nickname"%>
      </div>
    </ul>
  </div>
  <div><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout", id:"share_slide_btn" %></div>
  <% end %>
</header>
<body>
<div class='nil'></div>
  <% if user_signed_in? %>
    <% if @slide.share.present? %>
      <div class='show-index'>
        <%= "Everyone's Slide" %>
      </div>
      <ul class="slide-lists">
        <% @shares.each do |share| %>
          <li class='slide-list'>
            <div class='slide-title-content' id="slide_img_content">
              <div class='slide-title-head'>title:</div>
              <%= share.slide.title %>
            </div>
              <%= link_to slide_share_path(share.id, @slide.id), method: :get do %>
                <div class='slide-img-content'>
                  <%= image_tag share.slide.images[0], class: "slide-img", id: "slide_img" %>
                </div>
              <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class=no-slide>No Slide</div>
    <% end %>
  <% end %>
</body>

<footer>
  <%# 戻るボタン %>
  <div class="roll-back" >
    <%= link_to root_path, class: "roll-back-btn", id: "roll_back_btn" do%>
      <div class="back" id="back_btn">BACK
        <i class="fas fa-undo-alt"></i>
      </div>
    <% end %>
  </div>
</footer>