<header class='top-page-header'>
  <div><%= link_to "SLIDESHOW", root_path, class:  "top", id: "page_top"%></div>
</header>

<%= form_with model: @share, url: slide_shares_path, method: :post, local: true do |f| %>

<body>
  <div class='nil'></div>
  <div class='slide-creator'>Slide Creator</div>
  <div class='slide-creator-name'>
    <div class='slide-creator-wave'>〜</div>
    <%= @slide.user.nickname %>
    <div class='slide-creator-wave'>〜</div>
  </div>
  <div class='slide-top'>Slide's Top Image</div>
  <%= image_tag @slide.images[0], class: "slide-top-img" %>
  <div class='slide-middle'>Slide's Title</div>
  <div class='slide-middle-title'>
    <div class='slide-creator-wave'>〜</div>
    <%= @slide.title %>
    <div class='slide-creator-wave'>〜</div>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <%= f.text_area :text, class:"share-text", placeholder:"Slide説明（必須 100文字まで)", maxlength:"100" %>
  <ul class="alert">
    <li class="red-alert">注意事項</li>
    <li class="alert-text">※他のユーザーへの誹謗中傷等が含まれるslideの公開はご遠慮ください</li>
    <li class="alert-text">※一度公開したslideは、slideを削除しなければ公開され続けてしまいます</li>
    <li class="alert-end">上記の事をご了承頂きますよう、御願い申し上げます</li>
  </ul>
  <label class="share-btn">
    <div class="share">Shareする</div>
    <%= f.submit "Shareする", class: :form_btn%>
  </label>
</body>
  <%# 戻るボタン %>
  <div class="roll-back" id="roll_back">
    <%= link_to :back, class: "roll-back-btn" do%>
      <div class="back">BACK
        <i class="fas fa-undo-alt"></i>
      </div>
    <% end %>
  </div>
<% end %>