<header class="top-page-header">
  <div><%= link_to "SLIDESHOW", slide_shares_path, class:  "top"%></div>
</header>
<body>
<div class="nil"></div>
<div class="show-screen" id="show_screen">
  <div class="nil"></div>
  <div class="slide-creator">Slide Creator</div>
  <div class="slide-creator-name">
    <div class="slide-creator-wave">〜</div>
    <%= @slide.user.nickname %>
    <div class="slide-creator-wave">〜</div>
  </div>
  <div class="slide-top">Slide's Top Image</div>
  <%= image_tag @slide.images[0], class: "slide-top-img" %>
  <div class="slide-middle">Slide's Title</div>
  <div class="slide-middle-title">
    <div class="slide-creator-wave">〜</div>
    <%= @slide.title %>
    <div class="slide-creator-wave">〜</div>
  </div>
  <div class="slide-under">Slide's Text</div>
  <div class="slide-under-text">
    <%= @share.text%>
  </div>
  <div class="flex">
    <%= link_to 'SHOWを観る', slide_image_path(@slide.id), method: :get, class: "slide-look"%>
  </div>
  <%# <div class='flex'>
    <%= link_to 'SHOWを直す', edit_slide_path(@slide.id), method: :get, class: "slide-edit"%>
  <%# </div> %>

<%# コメントフォーム %>
  <div class="moral">※モラルを守ってコメントしましょう</div>
  <%= form_with model: [@slide, @comment],url: slide_comments_path, method: :post, local: true do |f| %>
    <div class="field">
      <%= f.text_area :comment_text, placeholder:"Comment Form（必須 50文字まで)", class:"comment-text" %>
    </div>
    <div class="actions">
      <%= f.submit "送信する", class: :form__btn %>
    </div>
  <% end %>
  <div class="comment-area">〜〜Comment Area〜〜</div>
  <ul class="comments-lists">
    <% @comments.each do |comment| %>
      <li class="comments-list">
        <%= "#{comment.user.nickname}:" %>
        <%= comment.comment_text %>
      </li>
    <% end %>
</div>
  <%# 戻るボタン %>
  <div class="roll-back">
    <%= link_to slide_shares_path, class: "roll-back-btn" do%>
      <div class="back">BACK
        <i class="fas fa-undo-alt"></i>
      </div>
    <% end %>
  </div>
</body>